/*Css_style for index - Cat Products Page*/
.Banner{
    font-family: Arial, Helvetica, sans-serif;
    background-color: chocolate;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: black;
    text-align: center;
}

.logo{
    height: 80px;
    width: auto;
    margin-left: 0px;
}
.cat-hero{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    text-align: center;
}

.cat-row{
    display: flex;
    gap: 25px;
}

.cat-card{
    display: auto;
    min-width: 180px;
    height: 120px;
    background: white;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 5);

}

.cat-card:hover{
    background: #ffe1b3;
    transform: scale(1.05);
}

.cat-info{
    font-family: 'Courier New', Courier, monospace;
}


.Product_Banner{
    font-family: Arial, Helvetica, sans-serif;
    background-color: chocolate;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    text-align: center;
}