body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #EADFCE;
    
}  
header {
    background-color: #EADFCE;
    color: #E2852E;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    border-bottom: 2px solid #E2852E;
}    
nav a{
    margin-left: 35px;
    color: #E2852E;
    font-weight:bold;
    text-decoration: none;
    
}
nav a:hover {
    color: #000;
}    
   
.header-left {
    display: flex;
    align-items: center;
    gap: 10px;
}
.search-box input {
    padding: 8px 12px;
    width: 450px;
    border-radius: 5px;
    border: 1px solid #aaa;
    font-size: 14px;
    background-color: #f3f3f3;
    color: #666;
    text-align: left;
}  
.header-right {
    display: flex;
    align-items: center;
    gap:20px;
    border: solid 2px #E2852E;
    border-radius: 15px;
    background-color: #ABE0F0;
}
.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ABE0F0;
    border: 2px solid #E2852E;
    border-top: transparent;
    border-radius:0px 0px 15px 15px;
    padding: 10px 0;
    min-width: 100%;
    
}   
.dropdown-menu a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #E2852E;
    font-weight: bold;
}
.dropdown:hover .dropdown-menu {
    display: block;
}


.cart {
   font-size: 28px;
   cursor: pointer;
   margin-bottom: 15px;
   
}  
.banner img{
    width:95%;
    height: auto;
    display:block;
    margin-left: 40px;
    margin-right: 40px;
}
.products-section {
    display: flex;
    gap: 40px;
    justify-content: center;
    padding: 50px;
    flex-wrap: wrap;
    padding-bottom: 800px;
}
.new-arrivals, .best-sellers {
    flex: 1 1 400px;
    background-color: #FFEED6;
    padding: 20px;
    border-radius: 20px;
}    
.products{
    display:flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;

}
.product-card{
    width: 200px;
    height: 250px;
    background-color: rgb(233, 187, 62);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #0c0b0b;
    cursor:pointer;
    transition: transform 0.2s;
    
}
.product-card:hover {
    transform: scale(1.05);
}
.section-title {
    text-align: center;
    color: #E2852E;
    margin-bottom: 20px;
}

/* .quiz{
   background-color: rgb(187, 28, 187); 
   padding-top: 60px;
   padding-bottom: 300px;
   text-align: center;
}
.quiz-title{
    font-size: 40px;
    color: rgb(233, 187, 62);
}
.questions{
    /* text-align: left; */
    /* font-weight: bold;
    font-size: 30px;
    padding-left: 50px;
    color: white;
}
.answers button{
    margin: 15px auto;
    padding: 12px 25px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(233, 187, 62);
    color: white;
    transition: background-color 0.2s, transform 0.2s;
    display: block;
      
}
.answers button:hover {
    background-color: darkorange;
    transform: scale(1.05);
}
.ph1{
    margin-left: 75px;
    margin-right: 75px;
} */

/* .next{
    margin-top: 30px;
    padding: 12px 25px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #d35400;
    color: white;
    transition: background-color 0.2s, transform 0.2s;

}

.next-btn:hover {
    background-color: #a04000;
    transform: scale(1.05);
} */

