body{
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #EADFCE;
}

/* Header */
header{
    background-color: #fb9700;
    color: #f9f9f9;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    border-bottom: 2px solid #E2852E;

}

nav a{
    margin-left: 35px;
    color:  #E2852E;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover{
    color: #000;
}

.header-left{
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-box input{
    padding: 8px 12px;
    width: 450px;
    border-radius: 5px;
    border: 1px solid #aaa;
    font-size: 14px;
    background-color: #f3f3f3;
    color: #666;
    text-align: left;
}

.header-right {
    display: flex;
    align-items: center;
    gap:20px;
    border: solid 2px #E2852E;
    border-radius: 15px;
    background-color: #ABE0F0;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ABE0F0;
    border: 2px solid #E2852E;
    border-top: transparent;
    border-radius:0px 0px 15px 15px;
    padding: 10px 0;
    min-width: 100%;  
}   

.dropdown-menu a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #E2852E;
    font-weight: bold;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.cart {
   font-size: 28px;
   cursor: pointer;
   margin-bottom: 15px;
}  

/* Banner */
.banner img{
    width: 95%;
    height: auto;
    display: block;
    margin-left: 40px;
    margin-right: 40px;
}

.new-arrivals{
    display: flex;
    gap: 20px;
    object-fit: cover;
    padding: 20px;
    margin-top: 40px;
    justify-content: center;
}

.new-arrivals img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 12px;
}

.new-arrivals-title{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 18px;
    font-size: 28px;
}

.cat-gallery{
    display: flex;
    gap: 20px;
    object-fit: cover;
    padding: 20px;
    margin-top: 40px;
    justify-content: center;
}

.cat-gallery img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 12px;
}

.cat-title{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 18px;
    font-size: 28px;
}

/* Footer (My Version) */
.footer{
    background-color: #E2852E;
    color: #000;
    padding: 40px 20px;
    margin-top: 60px;
    width: 100%;
    clear: both;
}

.footer-container{
    display: flex;
    justify-content: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    gap: 40px;

}

.footer-logo img{
    width: 80px;
    margin-bottom: 10px;
}

.footer h4{
    margin-bottom: 10px;
}

.footer p{
    margin: 5px 0;
    font-size: 14px;
}

/* Product page Css */
.product-page{
    display: flex;
    gap: 40px;
    max-width: 1100px;
    margin: 60px auto;
    padding: 20px;
    align-items: flex-start;
}

.product-info h1{
    margin-top: auto;
}

.product-image img{
    width: 400px;
    height: auto;
    border-radius: 12px;
    border: 3px solid #ddd;
    display: block;
}


.price{
    font-size: 20px;
    color: #000;
    font-weight: bold;
}

.add-to-cart{
    padding: 12px 24px;
    font-size: 16px;
    background-color: #E2852E;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.add-to-cart:hover{
    background-color: #c96f1f;
    transform: scale(1.05);
}

/* Fix for the footer not being at the full bottom */

.page-wrapper{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex: 1;
}

/* Fix for the page scrolling to the right */

* {
    box-sizing: border-box;
}




